.wrapper {
  min-height: 100vh;
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home {
  background-color: rgb(247, 143, 179);
  width: 400px;
  height: 200px;
  margin: 0 auto;
  padding-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.title {
  background:rgb(247, 143, 179);
  color: white;
  width: 100;
  font-weight: bold;
  justify-content: center;
  display : flex;
}

.navbar {
  width: 100%;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.navbarMenu {
  color: white;
  padding-left : 20px;
  text-decoration: none; 
  display: flex;
}


/* list */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.listBox {
  margin: 20px;
  width: 540px;
  height: 400px;
  background: white;
  border : 3px rgb(247, 143, 179) solid;
}
.listItem {
  margin: 10px;
  width: 500px;
  height: 38.5px;
  padding: 0 10px;
  border-radius: 7px;
  background: whitesmoke;
  box-shadow: 0px 2px 4px lightgrey;
  display: flex;
  align-items: center;
} 
.listItem div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* input */

.inputBox {
  margin: 20px;
  width: 300px;
  height: 406px;
  background: rgb(255, 219, 232);
  border-radius: 4px;
  box-shadow: 0px 2px 4px lightgrey;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputDate {
  padding: 10px;
  width: 200px;
  border: 1px solid rgb(247, 143, 179);
  border-radius: 5px;
  font-size: 18px;
  line-height: center;
  justify-content: space-between;
}
.inputTitle {
  padding: 10px;
  width: 200px;
  height: 200px;
  border: 1px solid rgb(247, 143, 179);
  border-radius: 5px;
  font-size: 18px;
  line-height: center;
  justify-content: space-between;
}

/* login, register */
.loginContainer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* button */
.startButton {
  width: 100px;
  height : 80px;
  margin: auto;
  display: block;
  background-color: white;
  color: rgb(247, 143, 179);
  font-weight: bold;
  font-size:x-large;
  border: none;
  border-radius: 4px;  
  box-shadow: 0px 2px 4px lightgrey;
}

.deleteButton {
  margin-left: 10px;
  background-color: rgb(247, 143, 179);
  color: white;
  border-radius: 10px
}

.submitButton {
  width : 223px;
  margin: 10px;
  padding : 10px 20px 10px 20px;
  background-color:rgb(247, 143, 179);
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 0px 2px 4px lightgrey;
}





/* .todo-container {
  max-width: 400px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
*/
